.page2 {
  background: #f3f4f5;
}


.tam-img{
	height: 50px;
	width: 50px;
}

.text-mod{
  color: #00acc1;
}

.work-status2 {
   width: 15%;
   padding-left: 0 !important;
   display: none;
}


.subject2 {
	width: 70%;
   	padding-left: 0 !important;
   	display: none;
}

.actions2 {
	width: 15%;
   	padding-left: 0 !important;
   	display: none;
}

a, a:visited, a:hover {
  color: #000000;
  text-decoration: none;
}

.cont{
  display: none;
}

#refImg{
  height: 50px;
  width: 50px;
}

ul {
     margin: 0px;
     padding: 0px;
}
li {
     margin: 0px;
     padding: 0px;
}

.dataimgmos{
  height: 50px;
  width: 50px;
  margin: 10px;
}

#divpaginawebactual{
  display: none;
}
